DATABASE_URL=postgresql://postgres:password@localhost:5432/vire
NEXT_PUBLIC_APP_URL=http://localhost:3000
INNGEST_DEV=1
OPENAI_API_KEY=your_openai_api_key_here
E2B_API_KEY=your_e2b_api_key_here
E2B_TEMPLATE_NAME=vire-nextjs-example
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here
CLERK_SECRET_KEY=your_clerk_secret_key_here
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/